.icon .frog
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%

.icon .frog .body
  width: 110px
  height: 86px
  background-color: #A3D768
  border-radius: 50%
  position: absolute
  top: 25px
  left: 0
  right: 0
  margin: auto
  box-shadow: 4px 4px 0px 0px rgba(163, 215, 104, 0.3)

#frog-1.frog .body .mouth
  width: 18px
  height: 22px
  border-bottom: 3px solid #3F6A34
  position: absolute
  top: 6px
  left: 0
  right: 0
  -webkit-animation: smile 3.8s linear 0s infinite
  animation: smile 3.8s linear 0s infinite

@keyframes smile
  0%
    border-radius: 0%
  20%
    border-radius: 50%
  70%
    border-radius: 50%
.icon .frog .body .mouth
  margin: auto

.icon .frog .eyes
  width: 86px
  height: 35px
  position: absolute
  top: 8px
  left: 0
  right: 0
  margin: auto

.icon .frog .eyes .eye-left
  position: absolute
  top: 0px
  left: 0

.icon .frog .eyes .eye
  width: 35px
  height: 35px

.icon .frog .eyes .eye .eye-inner
  background-color: #fff
  width: 80%
  height: 80%
  position: absolute
  top: 10%
  left: 10%
  border-radius: 50%

.icon .frog .eyes .eye .eye-inner .pupil
  background-color: #3F6A34
  width: 60%
  height: 60%
  position: absolute
  top: 20%
  left: 20%
  border-radius: 50%

.icon .frog .eyes .eye .eye-inner .pupil .light
  background-color: #fff
  width: 50%
  height: 50%
  position: absolute
  top: 10%
  left: 10%
  border-radius: 50%

.icon .frog .eyes .eye-right
  position: absolute
  top: 0px
  right: 0

.icon .frog .eyes .eye::before
  content: ""
  display: block
  width: 100%
  height: 100%
  background-color: #A3D768
  border-radius: 50%

*,
*::after,
*::before
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

